@font-face {
  font-family: "Work Sans";
  src: url("assets/fonts/WorkSans-VariableFont_wght.ttf");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Work Sans";
  src: url("assets/fonts/WorkSans-Italic-VariableFont_wght.ttf");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

:root {
  /* Colors */
  --color-white: hsl(0, 100%, 100%);
  --color-purple-100: hsl(275, 100%, 97%);
  --color-purple-600: hsl(292, 16%, 49%);
  --color-purple-700: hsl(282, 57%, 49%);
  --color-purple-950: hsl(292, 42%, 14%);

  /* Typography */
  --font-work-sans: "Work Sans", sans-serif;

  --text-base: 1rem;

  --font-weight-normal: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
}

/* Styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg {
  display: block;
  max-inline-size: 100%;
}

body {
  font-family: var(--font-work-sans);
  font-size: var(--text-base);
  font-weight: var(--font-weight-normal);
  line-height: 1.5;
  min-block-size: 100vh;
  background-color: var(--color-purple-100);
  background-image: url("/assets/images/background-pattern-mobile.svg");
  background-repeat: no-repeat;
  background-size: contain;
  @media(min-width: 48em) {
    background-size: auto;
    background-image: url("/assets/images/background-pattern-desktop.svg");
  }
}

.wrapper {
  max-inline-size: 30rem;
  inline-size: 90%;
  margin-inline: auto;
  margin-block: 8.75rem;
  @media(min-width: 48em) {
    max-inline-size: 37.5rem;
    margin-block: 10.25rem;
  }
}

section {
  padding-inline: 1.25rem;
  padding-block: 1.5rem 1rem;
  border-radius: .5rem;
  background-color: var(--color-white);
}

.header {
  display: flex;
  align-items: center;
  gap: 1.375rem;
}

h1 {
  font-size: 2rem;
  font-weight: var(--font-weight-bold);
  color: var(--color-purple-950);
  line-height: 1.25;
  @media(min-width: 48em) {
    font-size: 3.5rem;
  }
}

details {
  border-block: 1px solid var(--color-purple-100);
}

details:first-of-type {
  border-block-start: 0;
}

details:last-of-type {
  border-block-end: 0;
}

details summary {
  list-style: none;
  font-weight: var(--font-weight-semibold);
  padding-block: 1.25rem;
  cursor: pointer;
  position: relative;
  padding-inline-end: 4ch;
  @media(min-width: 48em) {
    padding-block: 1.75rem;
  }
  &::after {
    content: url("/assets/images/icon-plus.svg");
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  [open] &::after {
    content: url("/assets/images/icon-minus.svg");
  }
  &:hover {
    color: var(--color-purple-700);
  }
}

details summary::-webkit-details-marker {
  display: none;
}

summary + p {
  color: var(--color-purple-600);
  padding-block-end: 1.25rem;
}




